<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>000</string>
		<key>value</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>001</string>
		<key>value</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>002</string>
		<key>value</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>003</string>
		<key>value</key>
		<string>[发呆]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>004</string>
		<key>value</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>005</string>
		<key>value</key>
		<string>[哭]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>006</string>
		<key>value</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>007</string>
		<key>value</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>008</string>
		<key>value</key>
		<string>[睡]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>009</string>
		<key>value</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>010</string>
		<key>value</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>011</string>
		<key>value</key>
		<string>[发怒]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>012</string>
		<key>value</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>013</string>
		<key>value</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>014</string>
		<key>value</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>015</string>
		<key>value</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>016</string>
		<key>value</key>
		<string>[酷]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>017</string>
		<key>value</key>
		<string>[冷汗]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>018</string>
		<key>value</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>019</string>
		<key>value</key>
		<string>[吐]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>020</string>
		<key>value</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>021</string>
		<key>value</key>
		<string>[可爱]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>022</string>
		<key>value</key>
		<string>[白眼]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>023</string>
		<key>value</key>
		<string>[傲慢]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>024</string>
		<key>value</key>
		<string>[饿]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>025</string>
		<key>value</key>
		<string>[困]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>026</string>
		<key>value</key>
		<string>[震惊]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>027</string>
		<key>value</key>
		<string>[汗]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>028</string>
		<key>value</key>
		<string>[憨笑]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>029</string>
		<key>value</key>
		<string>[悠闲]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>030</string>
		<key>value</key>
		<string>[奋斗]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>031</string>
		<key>value</key>
		<string>[咒骂]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>032</string>
		<key>value</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>033</string>
		<key>value</key>
		<string>[嘘]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>034</string>
		<key>value</key>
		<string>[晕]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>035</string>
		<key>value</key>
		<string>[折磨]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>036</string>
		<key>value</key>
		<string>[衰]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>037</string>
		<key>value</key>
		<string>[骷髅]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>038</string>
		<key>value</key>
		<string>[敲打]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>039</string>
		<key>value</key>
		<string>[再见]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>040</string>
		<key>value</key>
		<string>[擦汗]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>041</string>
		<key>value</key>
		<string>[抠鼻]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>042</string>
		<key>value</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>043</string>
		<key>value</key>
		<string>[糗]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>044</string>
		<key>value</key>
		<string>[坏笑]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>045</string>
		<key>value</key>
		<string>[左哼哼]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>046</string>
		<key>value</key>
		<string>[右哼哼]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>047</string>
		<key>value</key>
		<string>[打呵欠]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>048</string>
		<key>value</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>049</string>
		<key>value</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>050</string>
		<key>value</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>051</string>
		<key>value</key>
		<string>[阴险]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>052</string>
		<key>value</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>053</string>
		<key>value</key>
		<string>[吓]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>054</string>
		<key>value</key>
		<string>[可怜]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>055</string>
		<key>value</key>
		<string>[刀]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>056</string>
		<key>value</key>
		<string>[西瓜]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>057</string>
		<key>value</key>
		<string>[啤酒]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>058</string>
		<key>value</key>
		<string>[篮球]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>059</string>
		<key>value</key>
		<string>[乒乓球]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>060</string>
		<key>value</key>
		<string>[咖啡]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>061</string>
		<key>value</key>
		<string>[饭]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>062</string>
		<key>value</key>
		<string>[猪]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>063</string>
		<key>value</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>064</string>
		<key>value</key>
		<string>[凋谢]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>065</string>
		<key>value</key>
		<string>[示爱]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>066</string>
		<key>value</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>067</string>
		<key>value</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>068</string>
		<key>value</key>
		<string>[蛋糕]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>069</string>
		<key>value</key>
		<string>[闪电]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>070</string>
		<key>value</key>
		<string>[炸弹]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>071</string>
		<key>value</key>
		<string>[匕首]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>072</string>
		<key>value</key>
		<string>[足球]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>073</string>
		<key>value</key>
		<string>[瓢虫]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>074</string>
		<key>value</key>
		<string>[便便]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>075</string>
		<key>value</key>
		<string>[晚安]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>076</string>
		<key>value</key>
		<string>[太阳]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>077</string>
		<key>value</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>078</string>
		<key>value</key>
		<string>[抱抱]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>079</string>
		<key>value</key>
		<string>[强]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>080</string>
		<key>value</key>
		<string>[弱]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>081</string>
		<key>value</key>
		<string>[握手]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>082</string>
		<key>value</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>083</string>
		<key>value</key>
		<string>[抱拳]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>084</string>
		<key>value</key>
		<string>[勾引]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>085</string>
		<key>value</key>
		<string>[拳头]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>086</string>
		<key>value</key>
		<string>[差劲]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>087</string>
		<key>value</key>
		<string>[爱你]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>088</string>
		<key>value</key>
		<string>[不]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>089</string>
		<key>value</key>
		<string>[好的]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>090</string>
		<key>value</key>
		<string>[爱情]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>091</string>
		<key>value</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>092</string>
		<key>value</key>
		<string>[摇摆]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>093</string>
		<key>value</key>
		<string>[寒]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>094</string>
		<key>value</key>
		<string>[怄火]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>095</string>
		<key>value</key>
		<string>[旋转]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>096</string>
		<key>value</key>
		<string>[服]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>097</string>
		<key>value</key>
		<string>[回头]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>098</string>
		<key>value</key>
		<string>[跳跃]</string>
	</dict>
	<dict>
		<key>key</key>
		<string>099</string>
		<key>value</key>
		<string>[挥手]</string>
	</dict>
</array>
</plist>
